@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001F;

  --font-outfit: "Outfit", sans-serif;
  --font-jost: "jost", serif;
  --font-strait: "strait", sans-serif;
  --font-lexend: "Lexend", sans-serif;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

}

.font-outfit {
  font-family: var(--font-outfit);
}

.font-jost {
  font-family: var(--font-jost);
}

.font-strait {
  font-family: var(--font-strait);
}

.font-lexend {
  font-family: var(--font-lexend);
}

* {
  font-family: 'outfit';
}
